@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,500;0,700;1,400&family=Patrick+Hand&display=swap');

@font-face {
    font-family: 'Jost';
    src: url('../assets/fonst/jost-variablefont_wght-webfont.eot');
    src: url('../assets/fonst/jost-variablefont_wght-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonst/jost-variablefont_wght-webfont.woff2') format('woff2'),
         url('../assets/fonst/jost-variablefont_wght-webfont.woff') format('woff'),
         url('../assets/fonst/jost-variablefont_wght-webfont.ttf') format('truetype'),
         url('../assets/fonst/jost-variablefont_wght-webfont.svg#neue_plakbold') format('svg');
    font-weight: normal;
    font-style: normal;

}