$primary-color:     #fd3636;
$primary-color-30:  #eb4d55;
$primary-color-200: #9c1313;

$complementary-color:       #ffffff;
$complementary-color-20:    #f7f7f7;
$complementary-color-30:    #ececec;
$complementary-color-40:    #d9d9d9;
$complementary-color-50:    #787878;
$complementary-color-80:    #212529;
$complementary-color-100:   #000000;