@use "../abstract/colors" as *;

.button {
    display: inline-block;
    font-weight: 400;
    color: $complementary-color-80;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 1rem 1.5rem;
    font-size: 1.2rem;
    // line-height: 1.5;
    border-radius: 2rem;
    width: auto;
    cursor: pointer;
}

.button-primary {
    color: $complementary-color;
    background-color: $primary-color;
    border-color: $primary-color-30;
    width: auto;
    margin: 1rem auto;
    &:hover {
        background-color: $primary-color-30;
    }
}