@use "../abstract/mixins" as *;
@use "../abstract/colors" as *;

.form-container {
    text-align: center;
    background-color: $complementary-color-30;
    padding: 2rem 4rem;
    margin: 2rem 0;
    border-radius: 5px;
    h2 {
        font-weight: 500;
        font-size: 2.5rem;
        span {
            display: block;
            font-size: 1.4rem;
            color: $complementary-color-50;
        }
    }
    h3 {
        font-weight: 500;
        font-size: 1.2rem;
        margin: 1rem 0;
    }
}


.form-input {
    &-row {
        display: flex;
        gap: 2rem;
    }
    &--style{
        border: none;
        border-bottom: 1px solid $complementary-color-40;
        padding-left: 0;
        padding-right: 0;
        border-radius: 0;
        margin: 1.5rem 0;
        background-color: $complementary-color-30;
        height: 55px;
        width: 100%;
        &:active,
        &:focus {
            outline: none;
            -webkit-box-shadow: none;
            box-shadow: none;
            border-color: $complementary-color-100;
        }
    }
    &-checkbox {
        display: flex;
        flex-direction: column;
        text-align: left;
        &--item {
            display: flex;
            gap: .5rem;
            margin-bottom: .5rem;
        }
    }
}

.form-text-message {
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: center;
    height: 500px;
    padding: 3rem;
    text-align: left;
    h4 {
        font-weight: 500;
        font-size: 2rem;
        margin: 1rem 0;
    }
    h5 {
        font-weight: 500;
        font-size: 1.2rem;
    }
    ol {
        // margin-left: 1rem;
        // box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
        padding: 1rem;
        border-radius: 5px;
        border: 2px dashed $complementary-color-50;
        li{
            margin-left: 1rem;
            border-bottom: 1px solid $complementary-color-50;
            padding: 1rem 0;
            &:last-of-type {
                border-bottom: none;
            }
        }
    }
}
