@use "../abstract/mixins" as *;
@use "../abstract/colors" as *;

form{
    margin: 5rem 0;
}

.form-text--message{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    padding: 3rem;
    text-align: center;
}
.form-text--message h3{
    font-weight: 500;
    font-size: 3rem;
}

.form-text--inputs{
    text-align: center;
    background-color: $complementary-color-30;
    padding: 3rem;
    margin: 3rem 0;
}

.form-text--inputs h2{
    font-weight: 500;
    margin-top: 2rem;
}
.form-input--style {
    border: none;
    border-bottom: 1px solid $complementary-color-40;
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;
    margin: 3rem 0;
    background-color: $complementary-color-30;
}
.form-input--style:active, .form-input--style:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: $complementary-color-100; }

.button, .form-input--style {
    height: 55px;
    width: 100%;
}