@use "../abstract/mixins" as *;
@use "../abstract/breakpoints" as *;
@use "../abstract/mixins" as *;

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: map-get($breakpoints, large);
    margin: 0 auto;
}

/* header .logo img:before {
    position: absolute;
    content: "PARIS";
    background-color: white;
    display: block;
    width: 100%;
    left: 0;
    top: 0;
    padding: .5rem;
} */

.isologo{
    background-image: url("../assets/img/home/isologo-2.png");
    width: 35px;
    height: 33px;
    mix-blend-mode: darken;
    @include mq(large) {
        background-image: url("../assets/img/home/isologo.png");
        width: 241px;
        height: 66px;
    }
}

.isologo h1{
    font-size: 0;
}