.hero-banner-arch{
    background-image: url("../assets/img/home/hero-arch-image-3.jpg");
    background-size: 1366px;
    background-repeat: no-repeat;
    background-position: bottom;
    width: 100%;
    width: 1366px;
    height: 640px;
    text-align: center;
    line-height: 0;
    mix-blend-mode: darken;
}

.hero-banner-eiffel{
    background-image: url("../assets/img/home/hero-eiffel-image-3.jpg");
    background-size: 1366px;
    background-repeat: no-repeat;
    width: 1366px;
    height: 650px;
    mix-blend-mode: darken;
}

.hero-banner-eiffel h2 {
    font-weight: 500;
    font-size: 2rem;
    margin: 1rem;
    &:first-of-type{
        margin-top: 0;
    }
}

.hero-banner-eiffel h3 {
    font-weight: 500;
}

.hero-banner-eiffel .column1{
    width: 70%;
    float: left;
    margin-left: -200px;
    margin-right: 2rem;
    overflow: hidden;

}
.hero-banner-eiffel .column2{
    width: 50%;
    float: left;
    overflow: hidden;

}

.hero-banner-map{
    background-image: url("../assets/img/tickets/hero-banner-3.jpg");
    background-size: 1366px;
    background-repeat: no-repeat;
    background-position: bottom;
    width: 100%;
    width: 1366px;
    height: 1370px;
    text-align: center;
    line-height: 0;
    mix-blend-mode: darken;
    position: relative;
}


.hero-banner--text{
    position: absolute;
    right: 4%;
    bottom: 48%;
}

.hero-banner--text h2{
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 3rem;
    font-size: 2.5rem;
}

.hero-banner--text p{
    font-size: 1.3rem;
}

.hero-banner-poi{
    background-image: url("../assets/img/poi/hero-banner-2.png");
    background-size: 1366px;
    background-repeat: no-repeat;
    background-position: bottom;
    width: 100%;
    width: 1366px;
    height: 670px;
    text-align: center;
    line-height: 0;
    // mix-blend-mode: darken;
    position: relative;
}

.hero-banner-contact{
    background-image: url("../assets/img/contacto/hero-banner.png");
    background-size: 1366px;
    background-repeat: no-repeat;
    background-position: bottom;
    width: 100%;
    width: 1366px;
    height: 680px;
    text-align: center;
    line-height: 0;
    mix-blend-mode: darken;
}