@use "../abstract/mixins" as *;
@use "../abstract/breakpoints" as *;

.hero-banner-arch{
    background-image: url("../assets/img/home/hero-arch-image-4.jpg");
    background-size: 320px;
    background-repeat: no-repeat;
    background-position: bottom;
    width: 100%;
    // width: 320px;
    height: 200px;
    text-align: center;
    line-height: 0;
    mix-blend-mode: darken;
    @include mq(small) {
        background-size: 540px;
        background-image: url("../assets/img/home/hero-arch-image-4.jpg");
        height: 300px;
    }
    @include mq(medium) {
        background-image: url("../assets/img/home/hero-arch-image-3.jpg");
        background-size: 720px;
        height: 440px;
    }
    @include mq(large) {
        background-image: url("../assets/img/home/hero-arch-image-3.jpg");
        background-size: 1366px;
        width: 1366px;
        height: 640px;
    }
}

.hero-banner-eiffel{
    background-image: url("../assets/img/home/hero-eiffel-image-4.jpg");
    background-size: 320px;
    background-repeat: no-repeat;
    background-position-x: center;
    width: 100%;
    // height: 156px;
    mix-blend-mode: darken;
    padding: 0 1rem;
    h2 {
        font-weight: 600;
        font-size: 1.1rem;
        margin: 1rem 1rem .5rem 1rem;
        &:first-of-type{
            margin-top: 0;
        }
        @include mq(medium) {
            font-weight: 500;
            font-size: 2rem;
            margin: 1rem;
        }
    }
    @include mq(small) {
        background-image: url("../assets/img/home/hero-eiffel-image-3.jpg");
        background-size: 540px;
    }
    @include mq(medium) {
        background-image: url("../assets/img/home/hero-eiffel-image-3.jpg");
        background-size: 720px;
    }
    @include mq(large) {
        background-image: url("../assets/img/home/hero-eiffel-image-3.jpg");
        background-size: 1366px;
    }
}



.hero-banner-eiffel h3 {
    font-weight: 500;
}

.hero-banner-eiffel .column1{
    width: 70%;
    float: left;
    margin-left: -200px;
    margin-right: 2rem;
    overflow: hidden;

}
.hero-banner-eiffel .column2{
    width: 50%;
    float: left;
    overflow: hidden;

}

.hero-banner-map{
    background-image: url("../assets/img/tickets/hero-banner-3.jpg");
    background-size: 320px;
    background-repeat: no-repeat;
    background-position: bottom;
    width: 100%;
    // width: 1366px;
    height: 370px;
    text-align: center;

    mix-blend-mode: darken;
    position: relative;
    @include mq(small) {
        background-size: 540px;
        background-image: url("../assets/img/tickets/hero-banner-3.jpg");
        height: 300px;
    }
    @include mq(medium) {
        background-image: url("../assets/img/tickets/hero-banner-3.jpg");
        background-size: 720px;
        height: 440px;
    }
    @include mq(large) {
        background-image: url("../assets/img/tickets/hero-banner-3.jpg");
        background-size: 1366px;
        width: 1366px;
        height: 1370px;
        line-height: 0;
    }
}

.hero-banner-poi{
    background-image: url("../assets/img/poi/hero-banner-2.png");
    background-size: 1366px;
    background-repeat: no-repeat;
    background-position: bottom;
    width: 100%;
    width: 1366px;
    height: 670px;
    text-align: center;
    line-height: 0;
    // mix-blend-mode: darken;
    position: relative;
}

.hero-banner-contact{
    background-image: url("../assets/img/contacto/hero-banner.png");
    background-size: 1366px;
    background-repeat: no-repeat;
    background-position: bottom;
    width: 100%;
    width: 1366px;
    height: 680px;
    text-align: center;
    line-height: 0;
    mix-blend-mode: darken;
}