@use "../abstract/mixins" as *;
@use "../abstract/colors" as *;
@use "../abstract/breakpoints" as *;

.interest--container{
    background-color: $complementary-color-30;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0;
}

.interest--container h2{
    font-size: 2rem;
    color: $complementary-color-100;
    margin-bottom: 4rem;
}

.interest-cards--container{
    max-width: map-get($breakpoints, large);
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.interest-cards--container span{
    font-weight: 500;
    font-size: 1.2rem;
    margin: 1rem 0 0 0;
}

.interest-card--image {
    background-color: $complementary-color;
    border-radius: 3px;
    padding: 1rem;
    width: 150px;
    height: 150px;
    text-align: center;
    line-height: 1.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}