@use "../abstract/mixins" as *;
@use "../abstract/colors" as *;
@use "../abstract/breakpoints" as *;

.interest--container{
    background-color: $complementary-color-30;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 1rem;
    @include mq(medium) {
        padding: 3rem 0;
    }
}

.interest--container h2{
    font-size: 2rem;
    color: $complementary-color-100;
    margin-bottom: 4rem;
}

.interest-cards--container{
    max-width: map-get($breakpoints, large);
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    padding: 0 1rem;
    @include mq(medium) {
        justify-content: center;
    }
}

.interest-cards--container h3{
    font-weight: 500;
    font-size: 1.2rem;
    // margin: 1rem 0 0 0;
}

.interest-card {
    background-color: $complementary-color;
    border-radius: 3px;
    padding: 1rem;
    width: 150px;
    height: 150px;
    text-align: center;
    line-height: 1.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &--image {
        background-size: 50px;
        background-repeat: no-repeat;
        width: 50px;
        height: 50px;
        font-size: 0;
    }
    .image_info{
        background-image: url("../assets/img/home/icon/info.svg");
    }
    .image_buy{
        background-image: url("../assets/img/home/icon/buy.svg");
    }
    .image_howto{
        background-image: url("../assets/img/home/icon/howto.svg");
    }
    .image_bus{
        background-image: url("../assets/img/home/icon/bus.svg");
    }
    .image_eat{
        background-image: url("../assets/img/home/icon/eat.svg");
    }
    .image_map-2{
        background-image: url("../assets/img/home/icon/map-2.svg");
    }
}