@use "../base/fonts" as *;
@use "../abstract/mixins" as *;
@use "../abstract/breakpoints" as *;
@use "../abstract/colors" as *;



// .container {
//     max-width: $grid__bp-xxl  * 1px;
//     margin: 0 auto;
//     &--fluid {
//       margin: 0;
//       max-width: 100%;
//     }
//     &__row {
//       display: flex;
//       flex-wrap: wrap;
//       width: 100%;
//     }
//     @each $modifier , $breakpoint in $map-grid-props {
//       @include create-col-classes($modifier, $grid__cols, $breakpoint);
//     }
//   }

body{
    font-family: $primary-font;
}

h2{
  font-family: $secondary-font;
  text-transform: uppercase;
  font-size: 2rem;
  // rotate: 0;
  rotate: -5deg;
  margin: .5rem 0;
  @include mq(medium) {
    margin: 2rem 0;
    font-size: 4rem;
  }
}

.hero{
  &__banner{
    max-width: map-get($breakpoints, xlarge);
    margin: 0 auto;
    display: flex;
    flex-direction: column-reverse;
    @include mq(large) {
      flex-direction: row;
    }
    &-image {
      width: 100%;
      @include mq(medium) {
        width: 75%;
        margin: 0 auto;
      }
      @include mq(large) {
        width: 50%;
      }
      & img{
        margin-top: -5rem;
        padding: 0 1rem;
        z-index: -1;
        position: relative;
        @include mq(medium) {
          padding: 0;
        }
        @include mq(large) {
          margin-top: -10rem;
          margin-left: -8.5rem;
        }
      }
    }
    &-intro {
      width: 100%;
      padding: 0 1rem;
      @include mq(large) {
        width: 50%;
      }
      h2 {
        margin-top: -1rem;
        @include mq(large) {
          margin-top: -3rem;
        }
      }
      p {
        font-size: 1rem;
        background-color: white;
        z-index: 3;
        padding: 1rem;
        border-radius: 10px;
        @include mq(medium) {
          font-size: 1.3rem;
        }
      }
    }
  }
}

.history {
  max-width: map-get($breakpoints, xlarge);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  &__background-paper {
    background-image: url(../../assets/img/background-paper.png);
    background-size: contain;
    background-repeat: round;
    margin: 0 1rem;
    padding: 3rem;
    @include mq(medium) {
      background-size: cover;
    }
  }
  p {
    font-family: $secondary-font;
    color: $primary-color;
    font-size: 1rem;
    margin-bottom: 1rem;
    &:last-of-type{
      margin-bottom: 0;
    }
    @include mq(large) {
      font-size: 1.1rem;
    }
  }
}

.character {
  max-width: map-get($breakpoints, xlarge);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  &__container {
    display: flex;
    flex-wrap: wrap;
  }
  &__card {
    color: $complementary-color-1;
    margin-bottom: 2rem;
    flex-basis:100%;
    padding: 0 .5rem;
    @include mq(small) {
      flex: 0 0 50%;
    }
    @include mq(medium) {
      flex: 0 0 33%;
    }
    @include mq(large) {
      flex: 0 0 25%;
    }
  }
  &__card-container {
    background-image: url(../../assets/img/blackboard.jpg);
    background-size: auto;
    border-radius: 15px;
  }
  &__card-image {
    img {
      width: 100%;
    }
  }
  &__card-bio {
    padding: 2rem;
    &-name {
      text-align: center;
      h3 {
        font-size: 2rem;
        margin-top: -3.5rem;
        margin-bottom: .5rem;
      }
    }
    &-actor {
      text-align: center;
      margin-bottom: .5rem;
      span {
        color: $complementary-color-2;
      }
    }
  }
}

.top-episodes {
  max-width: map-get($breakpoints, xlarge);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  &__card {
    border: 10px solid $primary-color;
    border-radius: 15px;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    @include mq(medium) {
      flex-direction: row;
    }
    &-image {
      flex: 0 1 16%;
      img {
        width: 100%;
        max-height: 100%;
      }
    }
  }
  &__card-container {
    padding: 1rem;
    flex: 0 1 84%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include mq(medium) {
      padding: 2rem;
    }
    &-top {
      display: flex;
      margin-bottom: 1rem;
      align-items: center;
      flex-direction: column;
      @include mq(medium) {
        flex-direction: row;
      }
    }
    &-title {
      h3 {
        font-size: 1.5rem;
        font-weight: 500;
        margin-right: 1rem;
      }
    }
    &-pills {
      margin: 1rem 0;
      @include mq(medium) {
        margin: 0;
      }
      span {
        border: 2px solid $primary-color;
        border-radius: 25px;
        padding: .2rem .8rem;
        font-size: .8rem;
        font-weight: 500;
      }
    }
    &-description {
      font-size: 1.1rem;
    }
  }
}

.clips  {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:0 1rem 2rem 1rem;
  color: $complementary-color-1;
  background-color: $primary-color;
  p {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
  }
  &__container {
    max-width: map-get($breakpoints, xlarge);
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    margin: 2rem auto;
    flex-direction: column;
    @include mq(medium) {
      flex-direction: row;
    }
    &-video {
      background-color: $complementary-color-1;
      display: flex;
      flex-direction: column;
      border-radius: 15px;
      width: 100%;
      @include mq(large) {
        width: 40%;
      }
      iframe {
        border-radius: 15px 15px 0 0;
      }
      p {
        color: $complementary-color-3;
        font-size: 1rem;
        font-weight: 400;
        padding: 1rem;
        text-align: left;
      }
    }
  }
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  color: $complementary-color-1;
  background-image: url(../../assets/img/greenboard-footer.png);
  padding: 2rem;
  &__container {
    max-width: map-get($breakpoints, xlarge);
    margin: 0 auto;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
    @include mq(medium) {
      flex-direction: row;
    }
  }
  &__are-you-talking-to-me {
    display: flex;
    background-color: $complementary-color-1;
    color: $complementary-color-3;
    border-radius: 10px;
    height: 100%;
    align-items: center;
    flex-direction: column;
    width: 85%;
    @include mq(medium) {
      flex-direction: row;
      width: auto;
    }
    &-image {
      width: 100%;
      @include mq(medium) {
        width: auto;
      }
      img {
        border-radius: 10px;
        @include mq(large) {
          border-radius: none;
        }
      }
    }
    ul {
      padding: 1.5rem;
      justify-self: center;
    }
    li {
      list-style: none;
      font-size: 1.3rem;
      font-weight: 400;
      margin-bottom: 1rem;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
    h3 {
      font-weight: 500;
    }
    a {
      color: inherit;
    }
  }
  .form {
    margin-bottom: 2rem;
    &__input {
      margin-bottom: 1rem;
    }
    input,
    textarea {
      font: 1em sans-serif;
      width: 100%;
      padding: 10px;
      border: 1px solid #999;
    }
  }
}