@use "../base/fonts" as *;
@use "../abstract/mixins" as *;
@use "../abstract/breakpoints" as *;
@use "../abstract/colors" as *;



body {
  font-family: 'Jost', sans-serif;
  font-size: 1.6rem;
  margin: 0;
}

.container {
  max-width: map-get($breakpoints, large);
  width: 95%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: $complementary-color-100;
}

a:hover{
  color: $primary-color;
}