@use "../abstract/colors" as *;
@use "../abstract/mixins" as *;
@use "../abstract/breakpoints" as *;

nav{
    &.menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        @include mq(large) {
            padding: 0;
        }
    }
    ul{
        display: flex;
    }
    li{
        list-style: none;
        text-transform: uppercase;
        padding: .3rem;
        font-size: .73rem;
        &:last-of-type{
            padding-right: 0;
        }
        @include mq(medium) {
            font-size: 1rem;
            padding: 1rem;
        }
    }
    a{
        text-decoration: none;
        &.menu--selected {
            color: $primary-color;
            border-bottom: 3px dashed $primary-color;
        }
    }
}