nav{
    ul{
        display: flex;
        justify-content: space-around;
        rotate: 6deg;
        width: 100%;
    }
    li{
        list-style: none;
        text-transform: uppercase;
        padding: 1rem 0;
        margin-top: 2rem;
    }
    a{
        text-decoration: none;
    }
    .menu ul {
        margin: 2rem 0 0 0 ;
        padding: 0;
        display: flex;
    }

    .menu li {
        list-style: none;
        padding: .3rem 1rem;
        text-transform: uppercase;
    }
}