nav{
    &.menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    ul{
        display: flex;
    }
    li{
        list-style: none;
        text-transform: uppercase;
        padding: 1rem;
        &:last-of-type{
            padding-right: 0;
        }
    }
    a{
        text-decoration: none;
    }
}