@use "../abstract/colors" as *;
@use "../abstract/mixins" as *;
@use "../abstract/breakpoints" as *;

.eiffel-image {
    float: left;
    display: flex;
    width: 320px;
    height: 190px;
    shape-outside: polygon(2px 11px, 65.58% 12px, 0.86% 102.32%);
    shape-margin: .2rem;
    @include mq(large) {
        float: left;
        width: 940px;
        height: 650px;
        shape-outside: polygon(265px 4px, 100.22% 3px, 27.47% 93.34%);
        shape-margin: 1.5rem;
    }
}

.eiffel-text-container{
    display: flex;
  }