@use "../abstract/colors" as *;
@use "../abstract/breakpoints" as *;

.poi-text--container{
    background-color: $complementary-color-20;
    max-width: map-get($breakpoints, large);
    margin: 0 auto;
    margin-top: -4rem;
}


.poi-text--phrase{
    display: flex;
    flex-direction: column;
    padding: 3rem 0;
    p {
        font-size: 1.4rem;
    }
    h2{
        font-weight: 400;
        font-size: 2.5rem;
        text-transform: uppercase;
        margin-bottom: 1rem;
    }
}