@use "../abstract/colors" as *;
@use "../abstract/breakpoints" as *;
@use "../abstract/mixins" as *;

.container-quick-cards {
    max-width: map-get($breakpoints, large);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3rem 1rem;
    gap: 1rem;
    @include mq(medium) {
        flex-direction: row;
        padding: 3rem 1rem;
        gap: 0;
        margin-top: 1rem;
    }
}

.container-quick-cards article {
    background-color: $complementary-color;
    padding: 1rem 2rem;
    border-radius: 3px;
    border: 1px solid $complementary-color-100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    &:last-of-type{
        margin-right: 0;
    }
    @include mq(medium) {
        width: 49%;
    }
}

.quick-cards-title h2{
    font-size: 1.5rem;
    color: $primary-color;
    margin: 0;
    text-transform: none;
    @include mq(medium) {
        font-size: 2rem;
    }
}

.quick-cards-title p{
    font-size: 0;
    margin: 0 1rem 0 0;
    @include mq(medium) {
        font-size: 1.1rem;
    }
}

.quick-cards-icon--map,
.quick-cards-icon--hotel,
.quick-cards-icon--sleep,
.quick-cards-icon--map2{
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    width: 400px;
    height: 80px;
    font-size: 0;
    margin: 0 1rem;
}

.quick-cards-icon--map{
    display: none;
    @include mq(medium) {
        display: block;
        background-image: url("../assets/img/home/icon/map-1.svg");
    }
}
.quick-cards-icon--hotel{
    display: none;
    @include mq(medium) {
        display: block;
        background-image: url("../assets/img/home/icon/hotel.svg");
    }
}
.quick-cards-icon--sleep{
    background-image: url("../assets/img/home/icon/sleep.svg");
}
.quick-cards-icon--map2{
    background-image: url("../assets/img/home/icon/map-2.svg");
}


.quick-cards-arrow--left,
.quick-cards-arrow--right,
.top-ten-icon--top{
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    width: 27px;
    height: 20px;
    font-size: 0;
    @include mq(medium) {
        width: 150px;
        height: 80px;
    }

}

.quick-cards-arrow--left{
    background-image: url("../assets/img/home/icon/left-arrow.svg");
}

.quick-cards-arrow--right {
    background-image: url("../assets/img/home/icon/right-arrow.svg");
}